src/Dhhr.Informasjonsmodell/Resources/Schemas/Xpr/53.1.3/XPR(rad).xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated on 11-27-2018  11:36:22 at NPR -->
<!-- Avdeling helseregistres meldinger -->
<!-- Modul rad  -->
<!-- Skjema for Innrapportering av data fra bildediagnostikk, bildeveiledet intervensjon og nukleærmedisin  -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- http://www.w3.org/2001/XMLSchema -->
<schema 
       xmlns="http://www.w3.org/2001/XMLSchema"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" 
    xmlns:kith="http://www.kith.no/xmlstds" 
    xmlns:nprx="http://www.npr.no/xmlstds/53_1_3" 
    xmlns:npr = "http://www.npr.no/xmlstds/53_1_3_rad"
    targetNamespace = "http://www.npr.no/xmlstds/53_1_3_rad"
    elementFormDefault = "qualified"
    attributeFormDefault="unqualified">
   <import namespace="http://www.npr.no/xmlstds/53_1_3" schemaLocation="NPR.xsd"/>

<include schemaLocation="XPR(rad)_CodingSchemes.xsd"/>


<!-- LEVEL 1 -->

<!-- Class: Melding -->
<element name = "Melding">
   <annotation>
       <documentation>
         Opplysninger som leverandører av helsetjenester i kommuner, helsevirksomheter eller helsepersonell etter bestemmelser i lov eller i medhold av lov i gitte situasjoner er pliktig til å rapportere.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Kontaktperson" minOccurs = "1" maxOccurs = "unbounded" />
         <element ref = "npr:Institusjon" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "versjon" type = "string"  use = "required" fixed = "53.1.3" />
      <attribute name = "meldingstype" type = "npr:meldingstype"  use = "required" />
      <attribute name = "fraDatoPeriode" type = "date"  use = "required" />
      <attribute name = "uttakDato" type = "date"  use = "required" />
      <attribute name = "leverandor" type = "string"  use = "required" />
      <attribute name = "navnEPJ" type = "string"  use = "required" />
      <attribute name = "versjonEPJ" type = "string"  use = "required" />
      <attribute name = "versjonUt" type = "string"  use = "required" />
      <attribute name = "lopenr" type = "string"  use = "required" />
      <attribute name = "tilDatoPeriode" type = "date"  use = "required" />
      <attribute name = "lokalident" type = "string"  use = "optional" />
   </complexType>
      <unique name= "InstitusjonP_ID">
         <selector xpath = "npr:Institusjon"/>
         <field xpath = "@institusjonID"/>
      </unique>
</element>


<!-- LEVEL 2 -->

<!-- Class: Kontaktperson -->
<element name = "Kontaktperson">
   <annotation>
       <documentation>
         Kontaktpersoner for dialog mellom kommune/helseinstitusjon og Helsedirektoratet.  NB: Det kan registreres flere kontaktpersoner per Type kontaktperson.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "kontPerson" type = "string"  use = "required" />
      <attribute name = "meldTelefon" type = "string"  use = "optional" />
      <attribute name = "meldEpost1" type = "string"  use = "required" />
      <attribute name = "meldEpost2" type = "string"  use = "optional" />
      <attribute name = "typeKontaktperson" type = "npr:kontaktperson_type"  use = "required" />
   </complexType>
</element>

<!-- Class: Helseinstitusjon -->
<element name = "Institusjon">
   <annotation>
       <documentation>
         Institusjon som hører under lov om spesialisthelsetjenesten.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Enhet" minOccurs = "1" maxOccurs = "unbounded" />
         <element ref = "npr:Slett" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Objektholder" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "institusjonID" type = "string"  use = "required" />
   </complexType>
      <key name= "EnhetP_ID">
         <selector xpath = "npr:Enhet"/>
         <field xpath = "@enhetID"/>
      </key>
      <unique name= "ObjektholderP_ID">
         <selector xpath = "npr:Objektholder"/>
         <field xpath = "@pasientNr"/>
      </unique>
      <keyref name = "Tjeneste_IDREF0" refer = "npr:EnhetP_ID">
         <selector xpath = "npr:Objektholder/npr:Episode/npr:Tjeneste"/>
         <field xpath = "@tjenesteenhetID"/>
      </keyref>
      <keyref name = "RefEnhet_IDREF0" refer = "npr:EnhetP_ID">
         <selector xpath = "npr:Objektholder/npr:Episode/npr:RefEnhet"/>
         <field xpath = "@enhetID"/>
      </keyref>
</element>


<!-- LEVEL 3 -->

<!-- Class: Enhet -->
<element name = "Enhet">
   <annotation>
       <documentation>
         Organisatorisk enhet ved en helseinstitusjon eller et selvstendig foretak (eks avtalespesialist) uten organisatoriske inndelinger.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Utstyr" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "enhetID" type = "string"  use = "required" />
      <attribute name = "orgNr" type = "string"  use = "optional" />
      <attribute name = "nace" type = "string"  use = "optional" />
      <attribute name = "offAvdKode" type = "string"  use = "optional" />
      <attribute name = "reshID" type = "string"  use = "optional" />
      <attribute name = "isfRefusjon" type = "npr:ja_nei"  use = "optional" />
      <attribute name = "enhetLokal" type = "string"  use = "optional" />
   </complexType>
      <unique name= "UtstyrP_ID">
         <selector xpath = "npr:Utstyr"/>
         <field xpath = "@utstyrID"/>
      </unique>
      <keyref name = "Undersokelse_IDREF0" refer = "npr:UtstyrP_ID">
         <selector xpath = "npr:Melding/npr:Institusjon/npr:Objektholder/npr:MedisinskStraling/npr:Behandlingsserie/npr:Fremmote/npr:Undersokelse"/>
         <field xpath = "@refUtstyr"/>
      </keyref>
</element>

<!-- Class: Slett -->
<element name = "Slett">
   <annotation>
       <documentation>
         Brukes for å angi informasjon om hvilke objekter som skal slettes.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "objekttype" type = "npr:objekttype"  use = "required" />
      <attribute name = "slettGUID" type = "nprx:guid"  use = "required" />
   </complexType>
</element>

<!-- Class: Objektholder -->
<element name = "Objektholder">
   <annotation>
       <documentation>
         Er en container som holder objekter fra lavere nivå. Hver av objektene på lavere nivå skal identifiseres ved hjelp av GUID eller annen unik identifikasjon slik at alle objekter kan identifiseres på tvers av meldinger.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
      <!-- Dette skal skrives ut som et sequence element -->
         <element ref = "npr:Pasient" minOccurs = "0" maxOccurs = "1" />
         <element ref = "npr:Henvisningsperiode" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Episode" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:MedisinskStraling" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "pasientGUID" type = "nprx:guid"  use = "optional" />
      <attribute name = "pasientNr" type = "string"  use = "required" />
   </complexType>
      <unique name= "EpisodeP_ID">
         <selector xpath = "npr:Episode"/>
         <field xpath = "@episodeID"/>
      </unique>
      <unique name= "HenvisningsperiodeP_ID">
         <selector xpath = "npr:Henvisningsperiode"/>
         <field xpath = "@henvisningsperiodeID"/>
      </unique>
      <unique name= "PasientP_ID">
         <selector xpath = "npr:Pasient"/>
         <field xpath = "@pasientNr"/>
      </unique>
      <keyref name = "Episode_IDREF0" refer = "npr:HenvisningsperiodeP_ID">
         <selector xpath = "npr:Episode"/>
         <field xpath = "@henvisningsperiodeID"/>
      </keyref>
</element>


<!-- LEVEL 4 -->

<!-- Class: Utstyr -->
<element name = "Utstyr">
   <annotation>
       <documentation>
         Dokumentasjon av medisinsk utstryr.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Kalibrering" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Utstyrselementer" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Utstyrsegenskaper" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "utstyrID" type = "string"  use = "required" />
      <attribute name = "referanseMEDUSA" type = "string"  use = "optional" />
      <attribute name = "typeUtstyr" type = "string"  use = "required" />
      <attribute name = "lokaltNavnUtstyr" type = "string"  use = "required" />
      <attribute name = "plassering" type = "string"  use = "optional" />
      <attribute name = "produsent" type = "string"  use = "required" />
      <attribute name = "modell" type = "string"  use = "optional" />
      <attribute name = "ferdigDato" type = "date"  use = "optional" />
      <attribute name = "oppgradert" type = "date"  use = "optional" />
      <attribute name = "statusUtstyr" type = "npr:status_for_medisinsk_teknisk_utstyr"  use = "optional" />
   </complexType>
</element>

<!-- Class: Pasient -->
<element name = "Pasient">
   <annotation>
       <documentation>
         En person som henvender seg til helsevesenet med anmodning om helsehjelp, eller som helsevesenet gir eller tilbyr helsehjelp i individuelle tilfeller.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "pasientGUID" type = "nprx:guid"  use = "optional" />
      <attribute name = "pasientNr" type = "string"  use = "required" />
      <attribute name = "kjonn" type = "npr:kjonn"  use = "required" />
      <attribute name = "fodselsar" type = "gYear"  use = "required" />
      <attribute name = "fodselsvekt" type = "integer"  use = "prohibited" />
   </complexType>
</element>

<!-- Class: Henvisningsperiode -->
<element name = "Henvisningsperiode">
   <annotation>
       <documentation>
         Tidsperiode fra mottak av henvisning for en og samme lidelse til utredning, behandling, rehabilitering og oppfølging er gjennomført, og ingen nye kontakter er avtalt.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Henvisning" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "henvisningsperiodeGUID" type = "nprx:guid"  use = "optional" />
      <attribute name = "henvisningsperiodeID" type = "string"  use = "required" />
      <attribute name = "henvFraInstitusjonID" type = "string"  use = "optional" />
      <attribute name = "henvFraTjeneste" type = "npr:tjenester_og_vesen"  use = "optional" />
      <attribute name = "henvFraHPR" type = "string"  use = "optional" />
      <attribute name = "ansienDato" type = "date"  use = "optional" />
      <attribute name = "trygdenasjon" type = "npr:landkoder"  use = "optional" />
      <attribute name = "nyTilstand" type = "npr:ny_tilstand"  use = "prohibited" />
      <attribute name = "sluttDato" type = "date"  use = "optional" />
      <attribute name = "henvTilInstitusjonID" type = "string"  use = "prohibited" />
      <attribute name = "henvTilTjeneste" type = "npr:tjenester_og_vesen"  use = "optional" />
      <attribute name = "henvTilHPR" type = "string"  use = "prohibited" />
   </complexType>
      <unique name= "HenvisningP_ID">
         <selector xpath = "npr:Henvisning"/>
         <field xpath = "@henvID"/>
      </unique>
</element>

<!-- Class: Episode -->
<element name = "Episode">
   <annotation>
       <documentation>
         Tidsperiode hvor pasienten får helsehjelp ved én og samme helseinstitusjon for ett og samme helseproblem.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
      <!--          CHOICE only one          --> 
         <element ref = "npr:Kontakt" minOccurs = "1" maxOccurs = "1"  />
         <element ref = "npr:RefEnhet" minOccurs = "3" maxOccurs = "unbounded" />
         <element ref = "npr:Tilstand" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Tjeneste" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "episodeGUID" type = "nprx:guid"  use = "optional" />
      <attribute name = "episodeID" type = "string"  use = "required" />
      <attribute name = "henvisningsperiodeID" type = "string"  use = "optional" />
      <attribute name = "serieID" type = "string"  use = "optional" />
      <attribute name = "innDatoTid" type = "dateTime"  use = "required" />
      <attribute name = "fraSted" type = "npr:sted"  use = "optional" />
      <attribute name = "fraInstitusjonID" type = "string"  use = "prohibited" />
      <attribute name = "kommTjeneste" type = "npr:kommunale_tjenester"  use = "prohibited" />
      <attribute name = "debitor" type = "npr:debitor"  use = "required" />
      <attribute name = "episodeFag" type = "npr:fagomrade"  use = "optional" />
      <attribute name = "delytelse" type = "npr:delytelser_i_rehabilitering"  use = "prohibited" />
      <attribute name = "fbvTjenesteEpisode" type = "npr:tjenester_i_godkjenningsordningen_innen_Fritt_behandlingsvalg"  use = "prohibited" />
      <attribute name = "komNrHjem" type = "nprx:kommNr"  use = "required" />
      <attribute name = "bydel" type = "nprx:bydelNr"  use = "optional" />
      <attribute name = "inntilstand" type = "npr:inntilstand"  use = "prohibited" />
      <attribute name = "samtykkekompetanse" type = "npr:ja_nei"  use = "prohibited" />
      <attribute name = "innmateHast" type = "npr:innmate_hastegrad"  use = "required" />
      <attribute name = "alderIDager" type = "integer"  use = "prohibited" />
      <attribute name = "omsorgsniva" type = "npr:omsorgsniva"  use = "required" />
      <attribute name = "arenafleksibel" type = "npr:ja_nei"  use = "optional" />
      <attribute name = "utTilstand" type = "npr:uttilstand"  use = "prohibited" />
      <attribute name = "sluttKode" type = "npr:avslutningsmate_rus"  use = "prohibited" />
      <attribute name = "epikriseDato" type = "date"  use = "optional" />
      <attribute name = "tilSted" type = "npr:sted"  use = "prohibited" />
      <attribute name = "tilInstitusjonID" type = "string"  use = "prohibited" />
      <attribute name = "utDatoTid" type = "dateTime"  use = "optional" />
      <attribute name = "epikriseSamtykke" type = "npr:status_for_innhenting_av_pasientens_samtykke"  use = "prohibited" />
   </complexType>
</element>

<!-- Class: Medisinsk stråling -->
<element name = "MedisinskStraling">
   <annotation>
       <documentation>
         Medisinsk stråling er en samlebetegnelse for informasjoner som knytter seg til all bruk av bildedannende utstyr, nukleærmedisin og stråleterapi.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Behandlingsserie" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "medisinskStralingGUID" type = "nprx:guid"  use = "optional" />
      <attribute name = "medisinskStralingID" type = "string"  use = "required" />
      <attribute name = "tilleggsopplysninger" type = "string"  use = "optional" />
   </complexType>
</element>


<!-- LEVEL 5 -->

<!-- Class: Kalibrering -->
<element name = "Kalibrering">
   <complexType >
      <attribute name = "kalibreringDato" type = "date"  use = "required" />
      <attribute name = "sporbarhet" type = "string"  use = "required" />
   </complexType>
</element>

<!-- Class: Utstyrselementer -->
<element name = "Utstyrselementer">
   <complexType >
      <attribute name = "typeElement" type = "string"  use = "required" />
      <attribute name = "inkludert" type = "npr:ja_nei"  use = "required" />
   </complexType>
</element>

<!-- Class: Utstyrsegenskaper -->
<element name = "Utstyrsegenskaper">
   <complexType >
      <attribute name = "egenskapType" type = "string"  use = "required" />
      <attribute name = "verdi" type = "string"  use = "required" />
      <attribute name = "benevning" type = "string"  use = "optional" />
   </complexType>
</element>

<!-- Class: Henvisning -->
<element name = "Henvisning">
   <annotation>
       <documentation>
         Formell anmodning om at en helseinstitusjon skal utrede og/eller behandle pasientens helseproblem.   Fra versjon 49.0.0 innføres det mulighet for rapportering av flere enn en henvisning for en henvisningsperiode. Denne mulighet skal kun benyttes av rapporteringsenheter som er med i prosjekt for analyse av såkalte "interne" eller "sekundære" henvisninger.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:RefEnhet" minOccurs = "3" maxOccurs = "unbounded" />
         <element ref = "npr:Utsettelse" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "henvID" type = "string"  use = "required" />
      <attribute name = "forsteHenvID" type = "string"  use = "prohibited" />
      <attribute name = "mottaksDato" type = "date"  use = "required" />
      <attribute name = "henvType" type = "npr:henvisningstype"  use = "optional" />
      <attribute name = "henvVurd" type = "npr:utfall_av_vurdering_av_henvisningen"  use = "optional" />
      <attribute name = "henvFormal" type = "npr:henvisningsformalitet"  use = "prohibited" />
      <attribute name = "frittBehandlingsvalg" type = "npr:ja_nei_ukjent"  use = "prohibited" />
      <attribute name = "secondOpinion" type = "npr:ja_nei"  use = "optional" />
      <attribute name = "debitor" type = "npr:debitor"  use = "optional" />
      <attribute name = "komNrHjem" type = "nprx:kommNr"  use = "required" />
      <attribute name = "bydel" type = "nprx:bydelNr"  use = "optional" />
      <attribute name = "kommunalTjeneste" type = "npr:ja_nei_ukjent"  use = "prohibited" />
      <attribute name = "fbvTjenesteHenvisning" type = "npr:tjenester_i_godkjenningsordningen_innen_Fritt_behandlingsvalg"  use = "prohibited" />
      <attribute name = "tutor" type = "npr:begjerende_instans"  use = "prohibited" />
      <attribute name = "omsnivahenv" type = "npr:omsorgsniva"  use = "optional" />
      <attribute name = "fagomrade" type = "npr:fagomrade"  use = "optional" />
      <attribute name = "vurdDato" type = "date"  use = "optional" />
      <attribute name = "pakkeforlop" type = "npr:ja_nei"  use = "prohibited" />
      <attribute name = "tilstandsgruppe" type = "npr:tilstandsgrupper"  use = "prohibited" />
      <attribute name = "tildeltDato" type = "date"  use = "optional" />
      <attribute name = "rettTilHelsehjelp" type = "npr:rett_til_helsehjelp"  use = "prohibited" />
      <attribute name = "avvistKode" type = "string"  use = "prohibited" />
      <attribute name = "fristStartBehandling" type = "date"  use = "prohibited" />
      <attribute name = "varslingHelfo" type = "npr:status_for_varsling_av_Helfo"  use = "prohibited" />
      <attribute name = "datoFormidlet" type = "date"  use = "prohibited" />
      <attribute name = "ventetidSluttDato" type = "date"  use = "optional" />
      <attribute name = "ventetidSluttKode" type = "npr:ventetid_sluttkode"  use = "optional" />
   </complexType>
</element>

<!-- Class: Kontakt -->
<element name = "Kontakt">
   <annotation>
       <documentation>
         Uavbrutt samhandling mellom pasient og helsepersonell hvor det utføres helsehjelp for pasienten eller indirekte kontakt.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "kontaktType" type = "npr:kontakttype"  use = "required"  fixed = "1"/>
      <attribute name = "initiativtaker" type = "npr:initiativtaker"  use = "prohibited" />
      <attribute name = "stedAktivitet" type = "npr:sted_for_aktivitet"  use = "optional" default = "1"/>
      <attribute name = "polkonAktivitet" type = "npr:aktivitetstype"  use = "prohibited" />
      <attribute name = "polIndir" type = "npr:indirekte_aktiviteter"  use = "prohibited" />
   </complexType>
</element>

<!-- Class: Tilstand -->
<element name = "Tilstand">
   <annotation>
       <documentation>
         En tilstand uttrykt med en eller flere diagnosekoder (ICD-10).
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Kode" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "tilstNr" type = "integer"  use = "required" />
      <attribute name = "akse" type = "npr:akse"  use = "prohibited" />
   </complexType>
      <unique name= "KodeP_ID">
         <selector xpath = "npr:Kode"/>
         <field xpath = "@kodeNr"/>
      </unique>
</element>

<!-- Class: Tjeneste -->
<element name = "Tjeneste">
   <annotation>
       <documentation>
         En eller flere behandlingsrettede tiltak som utføres for en pasient under en og samme tjeneste (seanse).  			
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Tiltak" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "instID" type = "string"  use = "prohibited" />
      <attribute name = "tjenesteenhetID" type = "string"  use = "optional" />
      <attribute name = "startDatoTid" type = "dateTime"  use = "required" />
      <attribute name = "sluttDatoTid" type = "dateTime"  use = "optional" />
      <attribute name = "tjenesteFag" type = "npr:fagomrade"  use = "optional" />
   </complexType>
</element>

<!-- Class: Behandlingsserie -->
<element name = "Behandlingsserie">
   <annotation>
       <documentation>
         En serie med fremmøter innen medlsinsk strålebruk.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Fremmote" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "serieID" type = "string"  use = "required" />
      <attribute name = "behandlingsserieNavn" type = "string"  use = "optional" />
      <attribute name = "intensjon" type = "string"  use = "optional" />
      <attribute name = "nyPasient" type = "npr:ja_nei"  use = "required" />
      <attribute name = "datoForste" type = "date"  use = "required" />
   </complexType>
</element>


<!-- LEVEL 6 -->

<!-- Class: Referanse til enhet -->
<element name = "RefEnhet">
   <annotation>
       <documentation>
         Inneholder alle referanser av forskjellige typer til klassen Enhet. Type referanse er bestemt av kode i kodeverk.  Obligatoriske referanser i NPR-melding fra Episode og Henvisning er av typene  1 Behandlingsted  7 Avdeling  2 Fagenhet  Det kan godt være at ulike referanser refererer til samme Enhet.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "enhetID" type = "string"  use = "required" />
      <attribute name = "typeEnhet" type = "npr:type_enhet"  use = "required" />
   </complexType>
</element>

<!-- Class: Utsettelse -->
<element name = "Utsettelse">
   <annotation>
       <documentation>
         Utsettelse av planlagt start helsehjelp. Det er en utsettelse i forhold til den episoden der start helsehjelp er planlagt som skal rapporteres.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "utsettKode" type = "npr:utsettelseskode"  use = "required" />
      <attribute name = "utsettDato" type = "date"  use = "required" />
      <attribute name = "datoEpisode" type = "date"  use = "optional" />
   </complexType>
</element>

<!-- Class: Tiltak -->
<element name = "Tiltak">
   <annotation>
       <documentation>
         Representerer et tiltak i en tjeneste. Et tiltak kan inneholde null, en eller flere forekomster av klassen Prosedyre.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Prosedyre" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "typeTiltak" type = "npr:type_tiltak"  use = "required" />
      <attribute name = "startDatoTid" type = "dateTime"  use = "optional" />
      <attribute name = "sluttDatoTid" type = "dateTime"  use = "optional" />
   </complexType>
      <unique name= "ProsedyreP_ID">
         <selector xpath = "npr:Prosedyre"/>
         <field xpath = "@prosNr"/>
      </unique>
</element>

<!-- Class: Fremmøte -->
<element name = "Fremmote">
   <annotation>
       <documentation>
         Et fremmøte for bildediagnostikk og/eller intervensjon. (Visit)
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Undersokelse" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "episodeID" type = "string"  use = "required" />
   </complexType>
      <unique name= "UndersokelseP_ID">
         <selector xpath = "npr:Undersokelse"/>
         <field xpath = "@undersokelseID"/>
      </unique>
</element>


<!-- LEVEL 7 -->

<!-- Class: Prosedyre -->
<element name = "Prosedyre">
   <annotation>
       <documentation>
         Pasientrettet tiltak kategorisert etter en normgivende beskrivelse eller et kodeverk.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Kode" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "prosNr" type = "integer"  use = "required" />
      <attribute name = "tilstNr" type = "integer"  use = "optional" />
   </complexType>
</element>

<!-- Class: Undersøkelse -->
<element name = "Undersokelse">
   <annotation>
       <documentation>
         Performed procedure.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Parameter" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "undersokelseID" type = "string"  use = "required" />
      <attribute name = "undersokelseKode" type = "string"  use = "optional" />
      <attribute name = "protokollKode" type = "string"  use = "optional" />
      <attribute name = "refUtstyr" type = "string"  use = "required" />
      <attribute name = "undersokelsesnavn" type = "string"  use = "optional" />
      <attribute name = "kliniskIndikasjon" type = "string"  use = "optional" />
   </complexType>
</element>


<!-- LEVEL 8 -->

<!-- Class: Kode -->
<element name = "Kode">
   <annotation>
       <documentation>
         En bokstav- og/eller tallkombinasjon, eventuelt med skilletegn i form av f. eks. punktum eller mellomrom, som utvetydig representerer en kategori i et medisinsk kodeverk.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "kodeNr" type = "integer"  use = "required" />
      <attribute name = "Kodeverk" type = "npr:medisinske_kodeverk"  use = "required" />
      <attribute name = "kodeVersjon" type = "string"  use = "required" />
      <attribute name = "kodeVerdi" type = "string"  use = "required" />
   </complexType>
</element>

<!-- Class: Parameter -->
<element name = "Parameter">
   <annotation>
       <documentation>
         Ulike paramatere for å angi fysiske forhold rundt en eksponering, for eksempel stråledose.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "doseType" type = "string"  use = "optional" />
      <attribute name = "parameterType" type = "string"  use = "required" />
      <attribute name = "verdi" type = "double"  use = "required" />
      <attribute name = "benevning" type = "string"  use = "required" />
   </complexType>
</element>
</schema>
