src/Dhhr.Informasjonsmodell/Resources/Schemas/Xpr/53.1.3/XPR(ord).xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated on 11-27-2018  11:09:49 at NPR -->
<!-- Avdeling helseregistres meldinger -->
<!-- Modul ord  -->
<!-- Skjema for Den vanlige NPR-meldingen (kombinasjon av flere sektorer)  -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- http://www.w3.org/2001/XMLSchema -->
<schema 
       xmlns="http://www.w3.org/2001/XMLSchema"
       xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" 
    xmlns:kith="http://www.kith.no/xmlstds" 
    xmlns:nprx="http://www.npr.no/xmlstds/53_1_3" 
    xmlns:npr = "http://www.npr.no/xmlstds/53_1_3_ord"
    targetNamespace = "http://www.npr.no/xmlstds/53_1_3_ord"
    elementFormDefault = "qualified"
    attributeFormDefault="unqualified">
   <import namespace="http://www.npr.no/xmlstds/53_1_3" schemaLocation="NPR.xsd"/>

<include schemaLocation="XPR(ord)_CodingSchemes.xsd"/>


<!-- LEVEL 1 -->

<!-- Class: Melding -->
<element name = "Melding">
   <annotation>
       <documentation>
         Opplysninger som leverandører av helsetjenester i kommuner, helsevirksomheter eller helsepersonell etter bestemmelser i lov eller i medhold av lov i gitte situasjoner er pliktig til å rapportere.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Kontaktperson" minOccurs = "1" maxOccurs = "unbounded" />
         <element ref = "npr:Institusjon" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "versjon" type = "string"  use = "required" fixed = "53.1.3" />
      <attribute name = "meldingstype" type = "npr:meldingstype"  use = "required" />
      <attribute name = "fraDatoPeriode" type = "date"  use = "required" />
      <attribute name = "uttakDato" type = "date"  use = "required" />
      <attribute name = "leverandor" type = "string"  use = "required" />
      <attribute name = "navnEPJ" type = "string"  use = "required" />
      <attribute name = "versjonEPJ" type = "string"  use = "required" />
      <attribute name = "versjonUt" type = "string"  use = "required" />
      <attribute name = "lopenr" type = "string"  use = "required" />
      <attribute name = "tilDatoPeriode" type = "date"  use = "required" />
      <attribute name = "lokalident" type = "string"  use = "optional" />
   </complexType>
      <unique name= "InstitusjonP_ID">
         <selector xpath = "npr:Institusjon"/>
         <field xpath = "@institusjonID"/>
      </unique>
</element>


<!-- LEVEL 2 -->

<!-- Class: Kontaktperson -->
<element name = "Kontaktperson">
   <annotation>
       <documentation>
         Kontaktpersoner for dialog mellom kommune/helseinstitusjon og Helsedirektoratet.  NB: Det kan registreres flere kontaktpersoner per Type kontaktperson.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "kontPerson" type = "string"  use = "required" />
      <attribute name = "meldTelefon" type = "string"  use = "optional" />
      <attribute name = "meldEpost1" type = "string"  use = "required" />
      <attribute name = "meldEpost2" type = "string"  use = "optional" />
      <attribute name = "typeKontaktperson" type = "npr:kontaktperson_type"  use = "required" />
   </complexType>
</element>

<!-- Class: Helseinstitusjon -->
<element name = "Institusjon">
   <annotation>
       <documentation>
         Institusjon som hører under lov om spesialisthelsetjenesten.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Enhet" minOccurs = "1" maxOccurs = "unbounded" />
         <element ref = "npr:Slett" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Objektholder" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "institusjonID" type = "string"  use = "required" />
   </complexType>
      <unique name= "EnhetP_ID">
         <selector xpath = "npr:Enhet"/>
         <field xpath = "@enhetID"/>
      </unique>
      <unique name= "ObjektholderP_ID">
         <selector xpath = "npr:Objektholder"/>
         <field xpath = "@pasientNr"/>
      </unique>
      <keyref name = "Tjeneste_IDREF0" refer = "npr:EnhetP_ID">
         <selector xpath = "npr:Objektholder/npr:Episode/npr:Tjeneste"/>
         <field xpath = "@tjenesteenhetID"/>
      </keyref>
      <keyref name = "PostOpp_IDREF0" refer = "npr:EnhetP_ID">
         <selector xpath = "npr:Objektholder/npr:Episode/npr:AvdOpp/npr:PostOpp"/>
         <field xpath = "@tjenesteenhetID"/>
      </keyref>
      <keyref name = "RefEnhet_IDREF0" refer = "npr:EnhetP_ID">
         <selector xpath = "npr:Objektholder/npr:Episode/npr:RefEnhet"/>
         <field xpath = "@enhetID"/>
      </keyref>
</element>


<!-- LEVEL 3 -->

<!-- Class: Enhet -->
<element name = "Enhet">
   <annotation>
       <documentation>
         Organisatorisk enhet ved en helseinstitusjon eller et selvstendig foretak (eks avtalespesialist) uten organisatoriske inndelinger.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "enhetID" type = "string"  use = "required" />
      <attribute name = "orgNr" type = "string"  use = "optional" />
      <attribute name = "nace" type = "string"  use = "optional" />
      <attribute name = "offAvdKode" type = "string"  use = "optional" />
      <attribute name = "reshID" type = "string"  use = "optional" />
      <attribute name = "isfRefusjon" type = "npr:ja_nei"  use = "optional" />
      <attribute name = "enhetLokal" type = "string"  use = "optional" />
   </complexType>
</element>

<!-- Class: Slett -->
<element name = "Slett">
   <annotation>
       <documentation>
         Brukes for å angi informasjon om hvilke objekter som skal slettes.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "objekttype" type = "npr:objekttype"  use = "required" />
      <attribute name = "slettGUID" type = "nprx:guid"  use = "required" />
   </complexType>
</element>

<!-- Class: Objektholder -->
<element name = "Objektholder">
   <annotation>
       <documentation>
         Er en container som holder objekter fra lavere nivå. Hver av objektene på lavere nivå skal identifiseres ved hjelp av GUID eller annen unik identifikasjon slik at alle objekter kan identifiseres på tvers av meldinger.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
      <!-- Dette skal skrives ut som et sequence element -->
         <element ref = "npr:Pasient" minOccurs = "0" maxOccurs = "1" />
         <element ref = "npr:Henvisningsperiode" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Episode" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "pasientGUID" type = "nprx:guid"  use = "optional" />
      <attribute name = "pasientNr" type = "string"  use = "required" />
   </complexType>
      <unique name= "EpisodeP_ID">
         <selector xpath = "npr:Episode"/>
         <field xpath = "@episodeID"/>
      </unique>
      <key name= "HenvisningsperiodeP_ID">
         <selector xpath = "npr:Henvisningsperiode"/>
         <field xpath = "@henvisningsperiodeID"/>
      </key>
      <unique name= "PasientP_ID">
         <selector xpath = "npr:Pasient"/>
         <field xpath = "@pasientNr"/>
      </unique>
      <keyref name = "Episode_IDREF0" refer = "npr:HenvisningsperiodeP_ID">
         <selector xpath = "npr:Episode"/>
         <field xpath = "@henvisningsperiodeID"/>
      </keyref>
      <keyref name = "PasientTilstand_IDREF0" refer = "npr:HenvisningsperiodeP_ID">
         <selector xpath = "npr:Pasient/npr:PasientTilstand"/>
         <field xpath = "@henvisningsperiodeID"/>
      </keyref>
</element>


<!-- LEVEL 4 -->

<!-- Class: Pasient -->
<element name = "Pasient">
   <annotation>
       <documentation>
         En person som henvender seg til helsevesenet med anmodning om helsehjelp, eller som helsevesenet gir eller tilbyr helsehjelp i individuelle tilfeller.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:PasientTilstand" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Omsorgsperson" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:IndividuellPlan" minOccurs = "0" maxOccurs = "1" />
      </sequence>
      <attribute name = "pasientGUID" type = "nprx:guid"  use = "optional" />
      <attribute name = "pasientNr" type = "string"  use = "required" />
      <attribute name = "kjonn" type = "npr:kjonn"  use = "required" />
      <attribute name = "fodselsar" type = "gYear"  use = "required" />
      <attribute name = "fodselsvekt" type = "integer"  use = "optional" />
   </complexType>
</element>

<!-- Class: Henvisningsperiode -->
<element name = "Henvisningsperiode">
   <annotation>
       <documentation>
         Tidsperiode fra mottak av henvisning for en og samme lidelse til utredning, behandling, rehabilitering og oppfølging er gjennomført, og ingen nye kontakter er avtalt.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Henvisning" minOccurs = "1" maxOccurs = "unbounded" />
         <element ref = "npr:Barnevernet" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "henvisningsperiodeGUID" type = "nprx:guid"  use = "optional" />
      <attribute name = "henvisningsperiodeID" type = "string"  use = "required" />
      <attribute name = "henvFraInstitusjonID" type = "string"  use = "optional" />
      <attribute name = "henvFraTjeneste" type = "npr:tjenester_og_vesen"  use = "optional" />
      <attribute name = "henvFraHPR" type = "string"  use = "optional" />
      <attribute name = "ansienDato" type = "date"  use = "optional" />
      <attribute name = "trygdenasjon" type = "npr:landkoder"  use = "optional" />
      <attribute name = "nyTilstand" type = "npr:ny_tilstand"  use = "optional" />
      <attribute name = "sluttDato" type = "date"  use = "optional" />
      <attribute name = "henvTilInstitusjonID" type = "string"  use = "optional" />
      <attribute name = "henvTilTjeneste" type = "npr:tjenester_og_vesen"  use = "optional" />
      <attribute name = "henvTilHPR" type = "string"  use = "optional" />
   </complexType>
      <unique name= "HenvisningP_ID">
         <selector xpath = "npr:Henvisning"/>
         <field xpath = "@henvID"/>
      </unique>
</element>

<!-- Class: Episode -->
<element name = "Episode">
   <annotation>
       <documentation>
         Tidsperiode hvor pasienten får helsehjelp ved én og samme helseinstitusjon for ett og samme helseproblem.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <!--          CHOICE more than one          --> 
         <choice>
            <element ref = "npr:Kontakt"  />
            <element ref = "npr:AvdOpp"  />
         </choice>
         <element ref = "npr:Tidspunkt" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:RefEnhet" minOccurs = "3" maxOccurs = "unbounded" />
         <element ref = "npr:Tilstand" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Tvang" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Tjeneste" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Spesialistvedtak" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Deltaker" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Maling" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Oppfolging" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "episodeGUID" type = "nprx:guid"  use = "optional" />
      <attribute name = "episodeID" type = "string"  use = "required" />
      <attribute name = "henvisningsperiodeID" type = "string"  use = "required" />
      <attribute name = "serieID" type = "string"  use = "optional" />
      <attribute name = "innDatoTid" type = "dateTime"  use = "required" />
      <attribute name = "fraSted" type = "npr:sted"  use = "optional" />
      <attribute name = "fraInstitusjonID" type = "string"  use = "optional" />
      <attribute name = "kommTjeneste" type = "npr:kommunale_tjenester"  use = "optional" />
      <attribute name = "debitor" type = "npr:debitor"  use = "required" />
      <attribute name = "episodeFag" type = "npr:fagomrade"  use = "optional" />
      <attribute name = "delytelse" type = "npr:delytelser_i_rehabilitering"  use = "optional" />
      <attribute name = "fbvTjenesteEpisode" type = "npr:tjenester_i_godkjenningsordningen_innen_Fritt_behandlingsvalg"  use = "optional" />
      <attribute name = "komNrHjem" type = "nprx:kommNr"  use = "required" />
      <attribute name = "bydel" type = "nprx:bydelNr"  use = "optional" />
      <attribute name = "inntilstand" type = "npr:inntilstand"  use = "optional" />
      <attribute name = "samtykkekompetanse" type = "npr:ja_nei"  use = "optional" />
      <attribute name = "innmateHast" type = "npr:innmate_hastegrad"  use = "required" />
      <attribute name = "alderIDager" type = "integer"  use = "optional" />
      <attribute name = "omsorgsniva" type = "npr:omsorgsniva"  use = "required" />
      <attribute name = "arenafleksibel" type = "npr:ja_nei"  use = "optional" />
      <attribute name = "utTilstand" type = "npr:uttilstand"  use = "optional" />
      <attribute name = "sluttKode" type = "npr:avslutningsmate_rus"  use = "optional" />
      <attribute name = "epikriseDato" type = "date"  use = "optional" />
      <attribute name = "tilSted" type = "npr:sted"  use = "optional" />
      <attribute name = "tilInstitusjonID" type = "string"  use = "optional" />
      <attribute name = "utDatoTid" type = "dateTime"  use = "optional" />
      <attribute name = "epikriseSamtykke" type = "npr:status_for_innhenting_av_pasientens_samtykke"  use = "optional" />
   </complexType>
      <key name= "SpesialistvedtakP_ID">
         <selector xpath = "npr:Spesialistvedtak"/>
         <field xpath = "@spesialistvedtakID"/>
      </key>
      <keyref name = "Tvang_IDREF0" refer = "npr:SpesialistvedtakP_ID">
         <selector xpath = "npr:Tvang"/>
         <field xpath = "@spesialistvedtakID"/>
      </keyref>
</element>


<!-- LEVEL 5 -->

<!-- Class: Avdelingsopphold -->
<element name = "AvdOpp">
   <annotation>
       <documentation>
         Sammenhengende tidsperiode med innleggelse ved samme avdeling for en pasient.  Et avdelingsopphold kan bestå av null til mange døgn. Ved skifte av avdeling oppstår et nytt avdelingsopphold.  En ekstern henvisning til en institusjon kan generere flere avdelingsopphold (Episoder) i en Henvisningsperiode. Pasienten kan også være utskrevet mellom avdelingsoppholdene.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Permisjon" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:PostOpp" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "avdoppAktivitet" type = "npr:aktivitetstype"  use = "optional" />
      <attribute name = "permisjonsdogn" type = "integer"  use = "optional" />
   </complexType>
</element>

<!-- Class: Kontakt -->
<element name = "Kontakt">
   <annotation>
       <documentation>
         Uavbrutt samhandling mellom pasient og helsepersonell hvor det utføres helsehjelp for pasienten eller indirekte kontakt.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Samarbeidspart" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Helseperson" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Takst" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "kontaktType" type = "npr:kontakttype"  use = "required" />
      <attribute name = "initiativtaker" type = "npr:initiativtaker"  use = "optional" />
      <attribute name = "stedAktivitet" type = "npr:sted_for_aktivitet"  use = "required" />
      <attribute name = "polkonAktivitet" type = "npr:aktivitetstype"  use = "optional" />
      <attribute name = "polIndir" type = "npr:indirekte_aktiviteter"  use = "optional" />
   </complexType>
</element>

<!-- Class: PasientTilstand -->
<element name = "PasientTilstand">
   <annotation>
       <documentation>
         Opplysninger vedrørende pasienten med relevans for behandlingen. Det er tilstanden ved starten av Henvisningsperioden som rapporteres.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "henvisningsperiodeID" type = "string"  use = "required" />
      <attribute name = "pasientBorAlene" type = "npr:ja_nei_ukjent"  use = "optional" />
      <attribute name = "egneBarn" type = "npr:ja_nei_ukjent"  use = "optional" />
      <attribute name = "samlivStatus" type = "npr:samlivsstatus"  use = "optional" />
      <attribute name = "omsorgssituasjon" type = "npr:omsorgssituasjon"  use = "optional" />
      <attribute name = "psykososialeForhold" type = "npr:psykososiale_forhold"  use = "optional" />
      <attribute name = "psykososialtFunksjonsniva" type = "npr:psykososialt_funksjonsniva"  use = "optional" />
   </complexType>
</element>

<!-- Class: Omsorgsperson -->
<element name = "Omsorgsperson">
   <annotation>
       <documentation>
         Omsorgsperson for pasienten. 
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "relasjon" type = "npr:omsorgsrolle"  use = "required" />
      <attribute name = "samtykkekompetanse" type = "npr:ja_nei"  use = "required" />
      <attribute name = "foreldrerett" type = "npr:ja_nei"  use = "optional" />
      <attribute name = "datoTidRegistrert" type = "dateTime"  use = "required" />
   </complexType>
</element>

<!-- Class: Individuell plan -->
<element name = "IndividuellPlan">
   <annotation>
       <documentation>
         Lovfestet rett for bruker/pasient med behov for langvarige og koordinerte omsorgstjenester til å få utarbeidet en individuell plan. Planen skal sikre pasienten et helhetlig, koordinert og individuelt tilpasset tjenestetilbud og ivareta brukerens medvirkning.  Jf. Forskrift om habilitering og rehabilitering, individuell plan og koordinator.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "individuellPlan" type = "npr:individuell_plan_foreligger"  use = "required" />
      <attribute name = "rolleIP" type = "npr:rolle_i_arbeidet_med_individuell_plan"  use = "optional" />
      <attribute name = "individuellPlanDato" type = "date"  use = "required" />
   </complexType>
</element>

<!-- Class: Henvisning -->
<element name = "Henvisning">
   <annotation>
       <documentation>
         Formell anmodning om at en helseinstitusjon skal utrede og/eller behandle pasientens helseproblem.   Fra versjon 49.0.0 innføres det mulighet for rapportering av flere enn en henvisning for en henvisningsperiode. Denne mulighet skal kun benyttes av rapporteringsenheter som er med i prosjekt for analyse av såkalte "interne" eller "sekundære" henvisninger.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Henvisningstilstand" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:RefEnhet" minOccurs = "3" maxOccurs = "unbounded" />
         <element ref = "npr:Utsettelse" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Henvisningsgrunn" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:PlanlagtEpisode" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "henvID" type = "string"  use = "required" />
      <attribute name = "forsteHenvID" type = "string"  use = "optional" />
      <attribute name = "mottaksDato" type = "date"  use = "required" />
      <attribute name = "henvType" type = "npr:henvisningstype"  use = "optional" />
      <attribute name = "henvVurd" type = "npr:utfall_av_vurdering_av_henvisningen"  use = "optional" />
      <attribute name = "henvFormal" type = "npr:henvisningsformalitet"  use = "optional" />
      <attribute name = "frittBehandlingsvalg" type = "npr:ja_nei_ukjent"  use = "required" />
      <attribute name = "secondOpinion" type = "npr:ja_nei"  use = "optional" />
      <attribute name = "debitor" type = "npr:debitor"  use = "optional" />
      <attribute name = "komNrHjem" type = "nprx:kommNr"  use = "required" />
      <attribute name = "bydel" type = "nprx:bydelNr"  use = "optional" />
      <attribute name = "kommunalTjeneste" type = "npr:ja_nei_ukjent"  use = "optional" />
      <attribute name = "fbvTjenesteHenvisning" type = "npr:tjenester_i_godkjenningsordningen_innen_Fritt_behandlingsvalg"  use = "optional" />
      <attribute name = "tutor" type = "npr:begjerende_instans"  use = "optional" />
      <attribute name = "omsnivahenv" type = "npr:omsorgsniva"  use = "optional" />
      <attribute name = "fagomrade" type = "npr:fagomrade"  use = "optional" />
      <attribute name = "vurdDato" type = "date"  use = "optional" />
      <attribute name = "pakkeforlop" type = "npr:ja_nei"  use = "optional" />
      <attribute name = "tilstandsgruppe" type = "npr:tilstandsgrupper"  use = "optional" />
      <attribute name = "tildeltDato" type = "date"  use = "optional" />
      <attribute name = "rettTilHelsehjelp" type = "npr:rett_til_helsehjelp"  use = "optional" />
      <attribute name = "avvistKode" type = "string"  use = "optional" />
      <attribute name = "fristStartBehandling" type = "date"  use = "optional" />
      <attribute name = "varslingHelfo" type = "npr:status_for_varsling_av_Helfo"  use = "optional" />
      <attribute name = "datoFormidlet" type = "date"  use = "optional" />
      <attribute name = "ventetidSluttDato" type = "date"  use = "optional" />
      <attribute name = "ventetidSluttKode" type = "npr:ventetid_sluttkode"  use = "optional" />
   </complexType>
      <unique name= "HenvisningsgrunnP_ID">
         <selector xpath = "npr:Henvisningsgrunn"/>
         <field xpath = "@henvisningsgrunnNr"/>
      </unique>
</element>

<!-- Class: Barnevernet -->
<element name = "Barnevernet">
   <annotation>
       <documentation>
         En beskrivelse av om, og eventuelt hvordan, barnevernet er koplet inn i en pasient/barns syketilfelle. 
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "barnevernetsRolle" type = "npr:barnevernets_rolle"  use = "optional" />
      <attribute name = "datoRolle" type = "date"  use = "optional" />
   </complexType>
</element>

<!-- Class: Tidspunkt -->
<element name = "Tidspunkt">
   <annotation>
       <documentation>
         Dokumentasjon av tidspunkt for hendelser knyttet til samhandling mellom helsetjenester.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "tidspunkt" type = "dateTime"  use = "required" />
      <attribute name = "typeTidspunkt" type = "npr:type_tidspunkt"  use = "required" />
   </complexType>
</element>

<!-- Class: Tvang -->
<element name = "Tvang">
   <annotation>
       <documentation>
         Vedtak om tvangstiltak ovenfor - og tvangsbehandling av pasient. Det treffes vedtak dersom skjerming opprettholdes ut over 24 timer. Dersom pasienten overføres til skjermet enhet eller liknende som innebærer en betydelig endring av vedkommendes omgivelser eller bevegelsesfrihet, skal det treffes vedtak dersom skjerming opprettholdes ut over 12 timer. Vedtak om skjerming skal nedtegnes uten ugrunnet opphold. Vedtak kan bare treffes for inntil to uker om gangen.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Klage" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "datoVedtak" type = "date"  use = "optional" />
      <attribute name = "spesialistvedtakID" type = "string"  use = "optional" />
      <attribute name = "typeTvang" type = "npr:type_tvang"  use = "required" />
      <attribute name = "tidspunktStart" type = "dateTime"  use = "optional" />
      <attribute name = "tidspunktStopp" type = "dateTime"  use = "optional" />
   </complexType>
</element>

<!-- Class: Spesialistvedtak -->
<element name = "Spesialistvedtak">
   <annotation>
       <documentation>
         Det lovgrunnlag pasienten behandles etter skal alltid angis. Også ved "Frivillig".
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Vilkar" minOccurs = "0" maxOccurs = "4"  />
         <element ref = "npr:Klage" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "spesialistvedtakID" type = "string"  use = "required" />
      <attribute name = "typeFormalitet" type = "npr:rettslig_grunnlag_for_behandlingen"  use = "required" />
      <attribute name = "datoSpesialistVedtak" type = "dateTime"  use = "required" />
      <attribute name = "fattetAv" type = "npr:vedtak_fattet_av"  use = "required" />
   </complexType>
</element>

<!-- Class: Deltaker -->
<element name = "Deltaker">
   <annotation>
       <documentation>
         Dokumenterer om det er andre deltakere. Brukes også for å rapportere ledsagere.  Hvis pasienten er et barn vil omsorgspersoner ofte delta.   Hvis pasienten er en godt voksen person vil kanskje barn delta. 
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "deltakerType" type = "npr:deltaker_type"  use = "required" />
   </complexType>
</element>

<!-- Class: Måling -->
<element name = "Maling">
   <annotation>
       <documentation>
         En generell klassen for å kunne rapportere en måling av noe. Denne klassen skal benyttes i ulike kliniske sammenhenger og vil derfor kunne inneholde bruk av ulike kodeverk for å beskrive hva som måles. 
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Maleresultat" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "typeMaling" type = "string"  use = "required" />
      <attribute name = "malingKodeverk" type = "string"  use = "optional" />
      <attribute name = "malingDatoTid" type = "dateTime"  use = "required" />
      <attribute name = "typeMalingKodet" type = "npr:type_maling"  use = "optional" />
   </complexType>
      <unique name= "MaleresultatP_ID">
         <selector xpath = "npr:Maleresultat"/>
         <field xpath = "@maleresultatNr"/>
      </unique>
</element>

<!-- Class: Oppfølging -->
<element name = "Oppfolging">
   <annotation>
       <documentation>
         Om pasienten skal følges opp etter avslutning av behandling.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "oppfolgingType" type = "npr:oppfolging"  use = "required" />
   </complexType>
</element>


<!-- LEVEL 6 -->

<!-- Class: Tiltak -->
<element name = "Tiltak">
   <annotation>
       <documentation>
         Representerer et tiltak i en tjeneste. Et tiltak kan inneholde null, en eller flere forekomster av klassen Prosedyre.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Helseperson" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:Prosedyre" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "typeTiltak" type = "npr:type_tiltak"  use = "required" />
      <attribute name = "startDatoTid" type = "dateTime"  use = "optional" />
      <attribute name = "sluttDatoTid" type = "dateTime"  use = "optional" />
   </complexType>
      <unique name= "ProsedyreP_ID">
         <selector xpath = "npr:Prosedyre"/>
         <field xpath = "@prosNr"/>
      </unique>
</element>

<!-- Class: Permisjon -->
<element name = "Permisjon">
   <annotation>
       <documentation>
         Angivelse av permisjoner fra et avdelingsopphold. I tillegg til å rapportere denne klassen kan det også rapporteres sum permisjonsdøgn i attributt Permisjonsdøgn i klassen Avdelingsopphold, men det er ikke nødvendig.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "startDatoTid" type = "dateTime"  use = "required" />
      <attribute name = "stoppDatoTid" type = "dateTime"  use = "optional" />
      <attribute name = "permisjonType" type = "npr:type_permisjon"  use = "required" />
   </complexType>
</element>

<!-- Class: Postopphold -->
<element name = "PostOpp">
   <complexType >
      <attribute name = "tjenesteenhetID" type = "string"  use = "required" />
      <attribute name = "fagenhetID" type = "string"  use = "optional" />
      <attribute name = "innDatoTid" type = "dateTime"  use = "required" />
      <attribute name = "utDatoTid" type = "dateTime"  use = "optional" />
   </complexType>
</element>

<!-- Class: Samarbeidspart -->
<element name = "Samarbeidspart">
   <annotation>
       <documentation>
         Andre tjenester som bidrar i samarbeid om behandlingen av pasient.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "tjenester" type = "npr:instanser_og_tjenesteytere"  use = "required" />
      <attribute name = "institusjonID" type = "string"  use = "optional" />
   </complexType>
</element>

<!-- Class: Takst -->
<element name = "Takst">
   <annotation>
       <documentation>
         Takst for offentlige poliklinikker.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "typeForskrift" type = "npr:type_forskrift_for_taksthefte"  use = "optional" />
      <attribute name = "takstnummer" type = "string"  use = "required" />
      <attribute name = "antall" type = "integer"  use = "optional" />
   </complexType>
</element>

<!-- Class: Henvisningstilstand -->
<element name = "Henvisningstilstand">
   <annotation>
       <documentation>
         Pasientens tentative tilstand slik den er kodet i henvisningen. Det er anledning til å kode denne tilstand i ICPC-2 eller ICD-10.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Tilstand" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
   </complexType>
</element>

<!-- Class: Utsettelse -->
<element name = "Utsettelse">
   <annotation>
       <documentation>
         Utsettelse av planlagt start helsehjelp. Det er en utsettelse i forhold til den episoden der start helsehjelp er planlagt som skal rapporteres.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "utsettKode" type = "npr:utsettelseskode"  use = "required" />
      <attribute name = "utsettDato" type = "date"  use = "required" />
      <attribute name = "datoEpisode" type = "date"  use = "optional" />
   </complexType>
</element>

<!-- Class: Henvisningsgrunn -->
<element name = "Henvisningsgrunn">
   <annotation>
       <documentation>
         Hvilke grunner det kan eksistere for en henvisning utenom de medisinske som gjelder pasienten alene.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "henvisningsgrunnNr" type = "nonNegativeInteger"  use = "required" />
      <attribute name = "barnet" type = "npr:henvisningsgrunn_barnets_tilstand"  use = "optional" />
      <attribute name = "barnetsMiljo" type = "npr:henvisningsgrunn_barnets_miljo"  use = "optional" />
   </complexType>
</element>

<!-- Class: Planlagt episode -->
<element name = "PlanlagtEpisode">
   <annotation>
       <documentation>
         Klasse for episoder med helsehjelp som er planlagt gjennomført (både polikliniske kontakter, dagbehandling og døgninnleggelser).
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Tjeneste" minOccurs = "0" maxOccurs = "unbounded" />
         <element ref = "npr:RefEnhet" minOccurs = "3" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "planlagtID" type = "string"  use = "required" />
      <attribute name = "episodeID" type = "string"  use = "optional" />
      <attribute name = "opprPlanlEpisodeDatoTid" type = "dateTime"  use = "optional" />
      <attribute name = "omsorgsniva" type = "npr:omsorgsniva"  use = "required" />
      <attribute name = "typeTidPlanlagtEpi" type = "npr:type_oppmotetidspunkt_for_planlagt_episode"  use = "required" />
      <attribute name = "planlagtUke" type = "string"  use = "optional" />
      <attribute name = "planlagtDatoTid" type = "dateTime"  use = "optional" />
      <attribute name = "varsletDato" type = "date"  use = "optional" />
      <attribute name = "lukkPlanlagtEpisode" type = "npr:lukkekode_for_planlagt_helsehjelp"  use = "optional" />
      <attribute name = "lukketDato" type = "date"  use = "optional" />
   </complexType>
</element>

<!-- Class: Vilkår -->
<element name = "Vilkar">
   <annotation>
       <documentation>
         Vilkår for tvungent psykisk helsevern angitt som grunnlag for spesialistvedtaket. Tilleggskriterium.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "vilkarType" type = "npr:vilkar_for_tvungent_psykisk_helsevern"  use = "required" />
   </complexType>
</element>

<!-- Class: Klage -->
<element name = "Klage">
   <annotation>
       <documentation>
         Om pasienten, i løpet av oppholdet har klaget til kontrollkommisjonen eller til fylkeslegen.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "typeKlage" type = "npr:type_klage"  use = "required" />
      <attribute name = "datoKlage" type = "date"  use = "required" />
   </complexType>
</element>

<!-- Class: Måleresultat -->
<element name = "Maleresultat">
   <annotation>
       <documentation>
         Resultatet av målinger som er av spesielle typer nevnt i klassen måling.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "maleresultatNr" type = "nonNegativeInteger"  use = "required" />
      <attribute name = "verdi" type = "string"  use = "required" />
      <attribute name = "enhet" type = "string"  use = "optional" />
   </complexType>
</element>


<!-- LEVEL 7 -->

<!-- Class: Helseperson -->
<element name = "Helseperson">
   <annotation>
       <documentation>
         Angir hvilke typer helsepersonell som deltar i direkte pasientkontakt, og ved indirekte pasientkontakt som samarbeidspartnere i utredning og planlegging av behandling av en pasient.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "polUtforende" type = "npr:utforende_helsepersonell"  use = "required" />
      <attribute name = "spesialist" type = "npr:ja_nei_ukjent"  use = "optional" />
      <attribute name = "rolle" type = "npr:rolle"  use = "optional" />
   </complexType>
</element>

<!-- Class: Prosedyre -->
<element name = "Prosedyre">
   <annotation>
       <documentation>
         Pasientrettet tiltak kategorisert etter en normgivende beskrivelse eller et kodeverk.
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Kode" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "prosNr" type = "integer"  use = "required" />
      <attribute name = "tilstNr" type = "integer"  use = "optional" />
   </complexType>
      <unique name= "KodeP_ID">
         <selector xpath = "npr:Kode"/>
         <field xpath = "@kodeNr"/>
      </unique>
</element>

<!-- Class: Tilstand -->
<element name = "Tilstand">
   <annotation>
       <documentation>
         En tilstand uttrykt med en eller flere diagnosekoder (ICD-10).
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Kode" minOccurs = "1" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "tilstNr" type = "integer"  use = "required" />
      <attribute name = "akse" type = "npr:akse"  use = "optional" />
   </complexType>
</element>

<!-- Class: Tjeneste -->
<element name = "Tjeneste">
   <annotation>
       <documentation>
         En eller flere behandlingsrettede tiltak som utføres for en pasient under en og samme tjeneste (seanse).  			
      </documentation>
   </annotation>
   <complexType >
      <sequence>
         <element ref = "npr:Tiltak" minOccurs = "0" maxOccurs = "unbounded" />
      </sequence>
      <attribute name = "instID" type = "string"  use = "optional" />
      <attribute name = "tjenesteenhetID" type = "string"  use = "optional" />
      <attribute name = "startDatoTid" type = "dateTime"  use = "required" />
      <attribute name = "sluttDatoTid" type = "dateTime"  use = "optional" />
      <attribute name = "tjenesteFag" type = "npr:fagomrade"  use = "optional" />
   </complexType>
</element>

<!-- Class: Referanse til enhet -->
<element name = "RefEnhet">
   <annotation>
       <documentation>
         Inneholder alle referanser av forskjellige typer til klassen Enhet. Type referanse er bestemt av kode i kodeverk.  Obligatoriske referanser i NPR-melding fra Episode og Henvisning er av typene  1 Behandlingsted  7 Avdeling  2 Fagenhet  Det kan godt være at ulike referanser refererer til samme Enhet.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "enhetID" type = "string"  use = "required" />
      <attribute name = "typeEnhet" type = "npr:type_enhet"  use = "required" />
   </complexType>
</element>


<!-- LEVEL 8 -->

<!-- Class: Kode -->
<element name = "Kode">
   <annotation>
       <documentation>
         En bokstav- og/eller tallkombinasjon, eventuelt med skilletegn i form av f. eks. punktum eller mellomrom, som utvetydig representerer en kategori i et medisinsk kodeverk.
      </documentation>
   </annotation>
   <complexType >
      <attribute name = "kodeNr" type = "integer"  use = "required" />
      <attribute name = "Kodeverk" type = "npr:medisinske_kodeverk"  use = "required" />
      <attribute name = "kodeVersjon" type = "string"  use = "required" />
      <attribute name = "kodeVerdi" type = "string"  use = "required" />
   </complexType>
</element>
</schema>
