src/Dhhr.Informasjonsmodell/Resources/Schemas/Iplos/iplos_2018.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) by Iver Nordhuus  -->
<!-- IPLOS - Dataeksport for innrapportering -->
<!-- ================================================================================= -->
<!--                                            -->
<!--    Versjon for Mottak KPR 1.1 trinn 1.                      -->
<!--    Opphevelse av mange krav i XML-skjema som ikke kan stilles i 1. trinn      -->
<!--                                            -->
<!-- ================================================================================= -->
<!-- Opphevelse av krav i XML-skjema:                            -->
<!--   Slette kodeverk fra hovedskjema (Fjerne det som kalles simpletype for hvert kodeverk. Erstattes med datetypen string) -->
<!--   Alle datofelter skal opprettholdes                            -->
<!--   Id-felt må utvides fra X10. Bruk Long                            -->
<!--   Utvide alle int til long? (Eller string ved behov.)                      -->
<!--   Noen felter opprettholdes som obligatorisk fordi de er avgjørende for å kunne bruke meldingen. -->
<!--   Resten markeres som optional.                                                  -->
<!--      Eksempler på required: Kommunenummer, periodeangivelse                                   -->
<!-- ================================================================================= -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:ipl="http://www.npr.no/xmlstds/iplos/2018" targetNamespace="http://www.npr.no/xmlstds/iplos/2018" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.5" id="Iplos">
	<!--                                            -->
	<!--             N I V Å   1                         -->
	<!--                                            -->
	<xs:element name="IPLOS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="INNHINFO" type="ipl:InnhInfoType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="PERSON" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType mixed="false">
						<xs:complexContent>
							<xs:extension base="ipl:PersonType">
								<xs:attribute name="pePeID" type="xs:long" use="required"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="versjon" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<!--                                            -->
	<!--             N I V Å   2                         -->
	<!--             2 - 1                               -->
	<xs:complexType name="InnhInfoType">
		<xs:sequence>
			<xs:element name="iiInnhType" type="xs:string" fixed="P" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iiKomnr" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iiBydelsnr" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!--             3 - 0                               -->
			<xs:element name="iiKontakt" type="ipl:KontaktType" minOccurs="2" maxOccurs="3"/>
			<xs:element name="iiFraDato" type="ipl:DatoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iiTilDato" type="ipl:DatoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iiLagetDato" type="ipl:DatoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iiSysID" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iiSysVersjon" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="iiLopenr" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!--                                            -->
	<!--             2 - 2                               -->
	<xs:complexType name="PersonType">
		<xs:sequence>
			<xs:element name="peAlder" type="xs:short" minOccurs="1" maxOccurs="1"/>
			<xs:element name="peKjonn" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="peKomnr" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="peBydelsnr" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="peFraDato" type="ipl:DatoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="peDodDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="peEndrDato" type="ipl:DatoType" minOccurs="1" maxOccurs="1"/>
			<!--             3 - 1                               -->
			<xs:element name="PERSONOPPL" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType mixed="false">
					<xs:complexContent>
						<xs:extension base="ipl:PersonOpplType">
							<xs:attribute name="poPeID" type="xs:long" use="required"/>
							<xs:attribute name="poPoID" type="xs:long" use="required"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--             3 - 2                               -->
			<xs:element name="FUNKSJON" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType mixed="false">
					<xs:complexContent>
						<xs:extension base="ipl:FunksjonType">
							<xs:attribute name="fnPeID" type="xs:long" use="required"/>
							<xs:attribute name="fnFnID" type="xs:long" use="required"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--             3 - 3                               -->
			<xs:element name="TJENESTE" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType mixed="false">
					<xs:complexContent>
						<xs:extension base="ipl:TjenesteType">
							<xs:attribute name="tjPeID" type="xs:long" use="required"/>
							<xs:attribute name="tjTjID" type="xs:long" use="required"/>
							<xs:attribute name="tjVeID" type="xs:long" use="required"/>
							<xs:attribute name="tjVeNrID" type="xs:long" use="required"/>
						</xs:extension>
						<!--  Unik referanse til et vedtak      -->
						<!--  Unik referanse til hvilket nummer i rekken vedtaket er.      -->
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--             3 - 4                               -->
			<xs:element name="DIAGNOSE" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType mixed="false">
					<xs:complexContent>
						<xs:extension base="ipl:DiagnoseType">
							<xs:attribute name="diPeID" type="xs:long" use="required"/>
							<xs:attribute name="diDiID" type="xs:long" use="required"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<!--             3 - 5                               -->
			<xs:element name="DOGNTILBUD" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType mixed="false">
					<xs:complexContent>
						<xs:extension base="ipl:DognTilbudType">
							<xs:attribute name="dgPeID" type="xs:long" use="required"/>
							<xs:attribute name="dgDgID" type="xs:long" use="required"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--                                            -->
	<!--             N I V Å       3                     -->
	<!--                                            -->
	<!--             3 - 0                               -->
	<xs:complexType name="KontaktType">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Navn" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Telefon" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Epost" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!--             3 - 1                               -->
	<xs:complexType name="PersonOpplType">
		<xs:sequence>
			<xs:element name="poHusstand" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poOmsorgBarn" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poPrivHjelp" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poBoligTilr" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poVurdTann" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poVurdLege" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poIndPlan" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poHarKoordinator" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poArbBistBehov" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poArbBistMottar" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poArbTranspBehov" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poArbTranspMottar" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poFriBistBehov" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poFriBistMottar" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poFriTranspBehov" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poFriTranspMottar" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poLegeMiddGj" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poLegeMiddGjDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poErnKartlagt" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poErnKartlagtDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poErnRisiko" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poErnRisikoDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poErnPlan" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poErnPlanDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poFraDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poTilDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!--                                            -->
	<!--             3 - 2                               -->
	<xs:complexType name="FunksjonType">
		<xs:sequence>
			<xs:element name="fnFunkType" type="xs:short" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fnFunkVerdi" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fnFraDato" type="ipl:DatoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fnTilDato" type="ipl:DatoType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!--                                            -->
	<!--             3 - 3                               -->
	<xs:complexType name="TjenesteType">
		<xs:sequence>
			<xs:element name="tjTjenType" type="xs:short" minOccurs="1" maxOccurs="1"/>
			<xs:element name="tjTjenUnderType" type="xs:short" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tjSoknadDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tjVedtDato" type="ipl:DatoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="tjVedtak" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tjTimerUke" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tjResTimerUke" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tjRullerende" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tjInstOrgnr" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tjFraDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tjTilDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tjKlageMottatt" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tjKlageBesvart" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!--                                            -->
	<!--             3 - 4                               -->
	<xs:complexType name="DiagnoseType">
		<xs:sequence>
			<xs:element name="diKodeVersjon" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="diDiagKode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="diFraDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="diTilDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!--                                            -->
	<!--             3 - 5                               -->
	<xs:complexType name="DognTilbudType">
		<xs:sequence>
			<xs:element name="dgInstOrgnr" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dgFraDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dgTilDato" type="ipl:DatoType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!--                                            -->
	<!--             D A T A T Y P E R                        -->
	<!--                                            -->
	<xs:simpleType name="DatoType">
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="[0-9]{4}([0][1-9]|[1][0-2])([0][1-9]|[1-2][0-9]|[3][0-1])"/>
		</xs:restriction>
	</xs:simpleType>
	<!--                                            -->
</xs:schema>
